In [11]:
import pandas as pd
data=pd.DataFrame({
    "trains":["tirumal","expresss","normal"],
    "bus":["super","luxury","double"]
})
data2=pd.DataFrame({
    "flight":["british","air india","express"]
})
#data1=pd.concat(data,data2,ignore_index=True)
print(data)
print(data2)
#print(data1)

     trains     bus
0   tirumal   super
1  expresss  luxury
2    normal  double
      flight
0    british
1  air india
2    express

In [13]:
data1=pd.concat([data,data2],ignore_index=True)
print(data1)

     trains     bus     flight
0   tirumal   super        NaN
1  expresss  luxury        NaN
2    normal  double        NaN
3       NaN     NaN    british
4       NaN     NaN  air india
5       NaN     NaN    express

In [16]:
n=pd.keys=[data,data1]
print(n)

[     trains     bus
0   tirumal   super
1  expresss  luxury
2    normal  double,      trains     bus     flight
0   tirumal   super        NaN
1  expresss  luxury        NaN
2    normal  double        NaN
3       NaN     NaN    british
4       NaN     NaN  air india
5       NaN     NaN    express]